section(class="c-def")
    section(class="c-def")
      h1 Motion Design
      p Norman McLaren, o grande pioneiro da técnica de animação do século XX, disse uma vez.
      blockquote Animação não é a arte de desenhos que se movem, mas a arte de movimentos que estão desenhados
      p O que acontece entre cada frame é mais importante do que existe em cada frame
    section
      h2 Curva de aceleração
      img(class='img-max' src='img/curva-aceleracao.gif')
    section(data-background='img/bounce.gif')
    section(data-background='#f95456')
      img(src='img/pendulum.gif')
    section(data-background="img/wow.gif")
    section
      h1 Motion Designer
      h2 O profissional que faz todo o processo acontecer
      blockquote Talvez eu tenha uma visão muito poética sobre a minha profissão e isso me faça ser um pouco imparcial. Mas, pra mim, animar é reproduzir a física, é chamar e prender a atenção, é guiar os olhos, impor rítmo, divertir e entreter o interator. Além de, claro, pagar as minhas contas.
      p(class="bq-author") Priscila Garcia
      a(href="http://chocoladesign.com/porque-ser-motion-designer") Porque ser um Motion Designer
    section
      h1 Motion Designer
      ul
        li Geralmente atua em Televisão, Agências de publicidade criando movimentos em letreiros, vinhetas etc.
        li Cerca de 12 minutos em cada hora de televisão são trabalho de um designer de animação
        li Profissão que existe a muito tempo atrás e que agora torna-se mais disseminada graças a tecnologia acessível
    section
      h1 E para Web?