section.c-def
  section
    h2 Make Sense
    p A animação é uma camada que ajuda a interface a comunicar-se com o usuário.
  section
    img(src="img/design-product-experience.jpg")
  section(data-background="#edebed")
    img(src="img/animation-dont.gif")
  section(data-background="img/yeah.gif")
  section(data-background="#edebed")
    h2 Agora sim
    img(src="img/animation-do.gif")
  section
    h1 Considerações finais
    img(src="img/eu.jpg" width='300' height='auto')
  section
    h2 Perguntas? ...
    h2 obrigado !!!!!
//  section
    h2 Links
    ul
      li
        a(href='')
      li
        a(href='')