section
    section(data-background="#edbe8f")
        h1(class="f-motion") Motion Design
        
    section(data-background="#3F51B5")
        h2(class="c-white") Olá!! eu sou o Lucas
        img(src="/img/eu.png" width='300')
        p.intro Twitter: @lucasmaiaesilva
        p.intro Github: /lucasmaiaesilva