section
	section(data-background="#edbe8f")
		h1(class="f-motion") Motion Design
		p.s-main uma nova experiência
	section(data-background='#263238')
		h2(class="c-white") Olá!! eu sou o Lucas
		img(src="img/eu.png" width='300')
		p.intro Twitter: @lucasmaiaesilva
		p.intro Github: /lucasmaiaesilva
	section(data-background="#fff")
		p.intro Meu Blog - http://lucasmaiaesilva.com.br
		img(src="img/blogprint.png")
