section.c-def
	section
		h2 Links
		p
			a(href="http://chocoladesign.com/porque-ser-motion-designer") Porque ser Motion Designer - Priscila Garcia
		p
			a(href="http://www.netflix.com/watch/80029364?trackId=14170287&tctx=0%2C0%2C09cda512-6be9-4aa2-8454-790f9a5566e4-12109279") Truques da Mente - Discovery Channel
		p
			a(href="http://ed.ted.com/lessons/animation-basics-the-art-of-timing-and-spacing-ted-ed") The art of Timing and Spacing Tedx
		p
			a(href="https://www.google.com/design/spec/animation/responsive-interaction.html") Animation with material Design responsive interaction
		p
			a(href="http://tableless.com.br/motion-ui-com-estilos-zeh-fernandes-no-meetup-css-sp/") Motion UI com estilos: Zeh Fernandes no Meetup CSS SP
		p
			a(href="https://www.codeandweb.com/blog/2014/11/05/animate-sprites-in-css-with-texturepacker") CSS animation examples with TexturePacker
		p
			a(href="http://willianjusten.com.br/animando-svg-com-smil/") Animando com SMIL
		p
			a(href="https://html5gameengine.com/") HTML5 Game Engines
		p
			a(href="http://giphy.com/") Giphy.com
		//p
			//a(href="#")
