section.c-def
  section.sec-slide.top.text-left
    h1 Flash
    ul
      li.fragment Baixa Interação com o Browser
      li.fragment Necessidade de instalar plug-ins em alguns Browsers
      li.fragment Páginas Pesadas
      li.fragment Servidores mais robustos e com respostas não equivalentes
      li.fragment Acessibilidade
  section(data-background='img/load-block.gif')
  section(data-background="#000")
    h1(style='color: #fff') Flash morreu
    img(class="img-max" src="img/flash-dead.png")
  section(data-background='#0096bb')
    img(class='img-max' src='img/html5.png')
  section.sec-slide.top.text-left
    h2 Tipos de animação em HTML
    ul
      li.fragment CSS3
      ul
        li.fragment Transform
        li.fragment Transition
        li.fragment Animation
      li.fragment SVG SMIL
      li.fragment Javascript em geral (Canvas)
  section
    h2 Propriedades geralmente alteradas por animações
    img(class='img-max' src='img/propriedades-alteradas-por-animacoes.png')