doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/introducao
                include ../slides/definicoes
                include ../slides/neurociencia
                include ../slides/web
                include ../slides/code
                include ../slides/encerramento
                
            include inc/scripts
